<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome </title>
</head>
<body>
<div class="container my-5" >
<h1 >Welcome to Hospital Appointment Application!</h1>
<img src="static/building.jpg"  class="img-rounded" alt="Hospital" height="200">
<br>
<br>

<p >Click on Register if you are a new user <a style="color: blue" th:href="@{/register}">REGISTER</a></p>
<p >Click on Login if you are an existing user<a style="color: darkgreen" th:href="@{/login}">LOGIN</a> </p>
</div>
</body>
</html>